NET "clk" LOC = "P84";
NET "txd" LOC = "P87";
NET "cs" LOC = "P118";
NET "din" LOC = "P119";
NET "do" LOC = "P120";
NET "sc" LOC = "P121";
NET "data(0)"  LOC = "p23"  ;
NET "data(1)"  LOC = "p24"  ;
NET "data(2)"  LOC = "p26"  ;
NET "data(3)"  LOC = "p27"  ;
NET "data(4)"  LOC = "p29"  ;
NET "data(5)"  LOC = "p30"  ;
NET "data(6)"  LOC = "p32"  ;
NET "data(7)"  LOC = "p33"  ;
NET "lcd_e"  LOC = "p35"  ;
NET "lcd_rs"  LOC = "p34"  ;
NET "gsw"  LOC = "p47"  ;
NET "gas"  LOC = "p85"  ;
NET "ir"  LOC = "p46"  ;
NET "mot"  LOC = "p48"  ;